{%  extends "MoraspiritStyleBundle:Base:Base.html.twig" %}
{% block dashboard %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">

        <br><br>

        <div class="row-fluid">
            <div class="well span4 center login-box">
                <!--<img src="{{asset('bundles/moraspiritstyle/img/msplogo.png')}} " width = "150px"/><br><br><br><br>-->
                {% if details is defined %}
                <div class="alert alert-info">
                    {{details}}
                </div>
                {% endif %}
                <div><label class="control-label required">Enter your Email Address</label></div>
                <form class="form-horizontal" action="{{ path('moraspirit_forgot_password') }}" method="post">  
                    <div class="control-group">
                         <div>
                        <input type="email" name="email" required="required" />
                       </div>
                    <button type="submit" class="btn">Continue</button> </p>
                </form>

            </div><!--/span-->
            

        </div><!--/row-->
       
    </div><!--/fluid-row-->

</div><!--/.fluid-container-->

{% endblock %}