{%  extends "MoraspiritStyleBundle:Base:Base.html.twig" %}

{% block dashboard %}
{% endblock %}
{% block notificationList %}
{% endblock %}
{% block content %}
<br><br><br><br><br><br>
<div class="alert alert-error center span8">
    
    <strong>Access Denied!</strong> <br>you do not have permssion! <br>Please contact site admin.
</div>
<br>
<br><br><br><br><br><br>


{% endblock %}

